@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Orbitron:wght@400;700&display=swap");

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .hero h1 {
    font-size: 1.8rem;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .agent-box {
        width: 90%;
        bottom: 78px;
        right: 5%;
    }
}


/* BASE */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    background: #403d37;
    color: #B0B3B8;
}

main {
    flex: 1;
}

h1, h2 {
    font-weight: 200;
}

h1 {
    font-size: 35;
}

h2 {
    font-size: 25;
    color: #00ffd5;
}


/* HEADER */
header {
    text-align: center;
}
header h1 {
    color:#00ffd5;
}


/* HERO */
.hero {
    margin: 45px;
}
.hero p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
}


/* Classes Section */
.classes-section {
    padding: 2rem;
    background-color: #403d37;
    color: #B0B3B8;
    
}
.class-cards {
    display: grid;
    grid-template-areas: none;
    gap: 1.5rem;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
}
.class-card {
    background-color: #422f2a;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0, 4px 12px rgba(0, 0, 0, 0.5);
}
.class-card  li {
    color: #B0B3B8;
}
.class-card li strong {
    color: #B0B3B8;
}


/* Projects Section */
.projects-section {
    padding: 2rem;
    background-color: #403d37;
    color: #B0B3B8;
}
.project-cards {
    display: grid;
    grid-template-areas: none;
    gap: 1.5rem;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
}
.project-card {
    background-color: #422f2a;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0, 4px 12px rgba(0, 0, 0, 0.5);
}
.project-card h3 {
    margin-bottom: 0.5rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: #DAA520;
}
.project-card a {
    display: inline-block;
    margin-top: 1rem;
    font-family: 'Orbitron', sans-serif;
    color: #00ffd5;
    text-decoration: none;
}


/* CERTIFICATIONS */ 
.certs-section {
    padding: 2rem;
    background-color: #403d37;
}
.cert-cards {
    display: grid;
    grid-template-areas: none;
    gap: 1.5rem;
}
.cert-card {
    background-color: #422f2a;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0, 4px 12px rgba(0, 0, 0, 0.5);
}
.cert-card a {
    color: #B0B3B8;
    text-decoration: none; 
}


/* FOOTER */
footer {
    color: #dbca9a;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.social-icons a {
    color: #dbca9a;
    text-decoration: none;
}

.footer-nav a {
    color: #dbca9a;
    text-decoration: none;
}

i {
    margin-right: 6px;
}


/* CONTACT Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}


/* Hidden content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f6f7;
    min-width: 120px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
    text-align: left;
}