@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Orbitron:wght@400;700&display=swap");

html, body {
    height: 100%;
    margin: flex;
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    background: #002D62;
    color: #f0f0f0;
}

main {
    flex: 1;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

header {
    text-align: center;
}
header p {
    color: #F4911E;
}
header p strong {
    animation: blink 2s linear infinite;
    font-size: 20px;
    color: #EB6E1F;
}



footer {
    color: #F4911E;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.social-icons {
    color: #bfc9ca;
}

.footer-nav a {
    color: #f4f6f7;
}

i {
    margin-right: 6px;
}